#aboutMe {
    margin-left: 10px;
}

body {
    background-color: #EFEFEF;
}

.leftCol {
    margin-top: 20px;
    float: right;
    width: 50%;
    height: 50%;
}

.rightCol {
    margin: 0 auto;
    margin-top: 20px;
}

.card {
    margin: 0 auto;
}

.aboutText {
    margin: auto;
    overflow: auto;
}